.frase--llamativa {
  color: #ffffff;
  font: normal 40px Varela Round, sans-serif;
  height: auto;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  animation: move linear 2000ms infinite;
  z-index: 2; }

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641, 1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc, -2px 2px 0 #13f1fc, -1px 1px 0 #13f1fc; }
  25% {
    text-shadow: -4px -4px 0 #13f1fc, -3px -3px 0 #13f1fc, -2px -2px 0 #13f1fc, -1px -1px 0 #13f1fc, 4px 4px 0 #da0641, 3px 3px 0 #da0641, 2px 2px 0 #da0641, 1px 1px 0 #da0641; }
  50% {
    text-shadow: -4px 4px 0 #da0641, -3px 3px 0 #da0641, -2px 2px 0 #da0641, -1px 1px 0 #da0641, 4px -4px 0 #13f1fc, 3px -3px 0 #13f1fc, 2px -2px 0 #13f1fc, 1px -1px 0 #13f1fc; }
  75% {
    text-shadow: 4px 4px 0 #13f1fc, 3px 3px 0 #13f1fc, 2px 2px 0 #13f1fc, 1px 1px 0 #13f1fc, -4px -4px 0 #da0641, -3px -3px 0 #da0641, -2px -2px 0 #da0641, -1px -1px 0 #da0641; }
  100% {
    text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641, 1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc, -2px 2px 0 #13f1fc, -1px 1px 0 #13f1fc; } }

body {
  background: #f1f1f1; }

.container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.login-container {
  display: flex;
  width: 650px;
  height: auto;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2); }

.register, .login {
  flex: 1; }

.register {
  padding: 40px;
  position: relative; }

.register h3 {
  color: #797979;
  margin-bottom: 30px; }

.register input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333; }

.register input:active, .register input:focus {
  outline: none; }

.register .submit {
  width: auto;
  padding: 10px;
  background: #f17108;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.register::after {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: -23px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  background: #f1f1f1;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  color: #7c7c7c; }

.login {
  background-image: linear-gradient(to bottom right, #1ab6b6, #4cac6e);
  padding: 40px; }

.login h3 {
  color: #fff;
  margin-bottom: 45px; }

.login button i {
  position: absolute;
  top: 12px;
  left: 12px; }

.login button {
  width: 100%;
  margin: 15px 0px;
  padding: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative; }

.login .fb {
  background: #3b5999;
  border-style: none;
  color: #fff; }

.login .tw {
  background: #55acef;
  border-style: none;
  color: #fff; }

.login .correo {
  background: #33d4ce;
  border-style: none;
  color: #fff; }

@media only screen and (max-width: 540px) {
  .login-container {
    display: block; }
  .register, .login {
    flex: none; }
  .register::after {
    top: unset;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); }
  .frase-login, .login-container {
    margin-top: 150px; } }

.body-404 {
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg, #6a89cc, #b8e994); }

.container-404 {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434; }
  .container-404 h1 {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(../Assets/bg.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .container-404 a {
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s; }
  .container-404 a:hover {
    background: #e55039; }
  .container-404 h2 {
    width: 45vw;
    border-radius: 20px; }

@media only screen and (max-width: 600px) {
  .container-404 h1 {
    font-size: 130px; }
  .container-404 h2 {
    font-size: 1.5rem; } }

.red {
  background-color: red;
  border-radius: 10px; }

.green {
  background-color: green;
  border-radius: 10px; }

.blue {
  background-color: blue;
  border-radius: 10px; }

.yellow {
  background-color: yellow;
  border-radius: 10px; }

.white {
  background-color: white;
  border-radius: 10px; }

.violet {
  background-color: violet;
  border-radius: 10px; }

.grey {
  background-color: grey;
  border-radius: 10px; }

.pink {
  background-color: pink;
  border-radius: 10px; }

.orange {
  background-color: orange;
  border-radius: 10px; }

.brown {
  background-color: brown;
  border-radius: 10px; }

.actual {
  background-color: #000000; }

.centrar {
  text-align: center;
  margin: auto; }

h1 {
  padding-left: 5%;
  padding-top: 10px;
  font-size: 13vh; }

h2 {
  font-size: 6vh;
  background-image: linear-gradient(rgba(228, 123, 25, 0.801), orange, red);
  border-radius: 10px;
  border: grey;
  padding: auto; }

body {
  background-color: darkgray;
  height: 100%;
  width: 100%;
  background-image: url(../Assets/fondoGol.jpg);
  background-attachment: fixed; }

.fila1 {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.603), rgba(128, 128, 128, 0.534), #3a3535);
  width: auto; }

.anchoFilas {
  width: auto;
  margin-left: 5%;
  margin-right: 5%; }

.redes__logo {
  height: 6vh;
  width: 6vh;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0px; }

.listaNav {
  background-color: white;
  border-radius: 10px; }

.listaNav__item {
  text-decoration: underline; }

.botones {
  padding-top: 5px; }

.botones__inicio {
  border-radius: 5px; }

#botonInscripcion {
  font-weight: 400vw;
  margin-top: 10%;
  background-color: red;
  height: 25vh;
  width: 100%;
  font-size: 7vh;
  color: white;
  background-color: #000000;
  border-color: #ee0909;
  border-width: 5px;
  border-style: groove;
  box-shadow: 10px 10px 50px black;
  border-radius: 10px; }
  #botonInscripcion:hover {
    background-color: red;
    color: white;
    padding: 4px; }

#logo {
  margin-top: 20%;
  height: 40vh;
  width: 100%; }

.frase {
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.815);
  font-size: 200%;
  font-weight: 500;
  font-style: oblique;
  letter-spacing: 5px;
  word-spacing: 10px;
  border-radius: 50px;
  border-style: groove; }

#formularioContacto {
  background-color: cadetblue;
  padding: 3vh;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  box-shadow: 7px 13px 37px black; }

#tituloContacto {
  font-size: 4vh;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px; }

.control {
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white; }

.botonContacto {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to left top, #005aa7, #fffde4);
  font-size: 20px; }
  .botonContacto:active {
    transform: translateY(3px); }
  .botonContacto:focus {
    height: 65px; }
  .botonContacto:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }

.seleccionarTorneo, .tablaPosiciones, .mainComoJugar, .home {
  background-image: linear-gradient(rgba(228, 123, 25, 0.801), orange, red);
  border-radius: 30px; }

.video {
  width: 100%; }

.fila-botones-bec {
  height: 20vh;
  display: flexbox;
  align-items: center; }

.botones-bec {
  text-align: center; }

.lista-grupos {
  width: 100vw;
  background-image: linear-gradient(rgba(228, 123, 25, 0.801), orange, red);
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  height: auto; }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 7vh; }
  #tituloGrande {
    font-size: 6vh; }
  #botonInscripcion {
    font-size: 5vh; }
  #logo {
    height: 30vh;
    width: 150%; }
  .listaNav {
    display: inline-block; }
  .anchoFilas {
    margin-left: 0px;
    margin-right: 0px; } }

@media only screen and (min-width: 600px) and (max-width: 800px) {
  #tituloGrande {
    font-size: 10vh; } }
